<%- include('../../partials/header') -%>

<%- include('../../partials/navbar') -%>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <br><a class="btn btn-primary" href="/admin/articles/new">Criar um novo artigo</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <% articles.forEach(article => { %>
                <td> <%= article.id %></td>
                <td> <%= article.title %></td>
                <td> <%= article.slug %></td>
                <td> <%= article.category.title %></td>
                <td>
                    <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="deleteCategory(event, this)">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            <%  }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer') -%>

<script>
    function deleteCategory(event, form) {
        event.preventDefault();
        const decision = confirm("Tem certeza que deseja deletar o artigo?");

        if(decision) {
            form.submit();
        }
    }
</script>