<%- include('partials/header') -%>
<%- include('partials/homenavbar') -%>

<body>
    <div class="container">
        <br><hr>
        <div class="jumbotron">
            <h1 class="display-4">Olá, seja bem-vindo</h1>
            <p class="lead">Neste site, você poderá criar artigos com base em categorias</p>
            <hr class="my-4">
            <p>Aproveite ao máximo, espero que se divirta <br>
                No botão abaixo você poderá ver mais detalhes do site <br>
            </p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Descrição</a>
            </p>
          </div>
          <hr>

        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h3><%= article.title %></h3>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-dark">Ler o Artigo</a>
                </div>
            </div><br>
        <%  }) %>

        <div class="row">
            <div class="col col-12">
                <a style="float:right;" href="/articles/page/2">Próxima Página</a>
            </div>
            <hr>
        </div>
        <hr> 
    </div>

</body>

<%- include('partials/footer') -%>